@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is a sample application demonstrating
    the use of Entity Framework Core in an
    ASP.NET Core Razor Pages web app.</p>
