@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>College Enrollment Tracker</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the College Enrollment Tracker</h2>
        <p>
            This is a sample application demonstrating
            the use of Entity Framework Core in an
            ASP.NET Core Razor Pages web app.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Check out my other projects</h2>
        <p>You can check out my other projects and demos on GitHub.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/lemon07r">
                See the GitHub repo &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/lemon07r/EnrollmentTracker">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>